PORT=4000
USE_MEMORY_DB=false
FIREBASE_PROJECT_ID=vietwander-fdf99
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
FIREBASE_STORAGE_BUCKET=vietwander-fdf99.firebasestorage.app
GOOGLE_APPLICATION_CREDENTIALS=
