PORT=4000
USE_MEMORY_DB=false
FIREBASE_PROJECT_ID=vietwander-fdf99
FIREBASE_STORAGE_BUCKET=vietwander-fdf99.firebasestorage.app
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
# Prefer storing the JSON file outside this repo and point to it here.
GOOGLE_APPLICATION_CREDENTIALS=
